<%- include('../includes/head.ejs'); %>
<h1 class = "title is-1 is-centered has-text-white-ter"> Bienvenido a tu bitacora!</h1>

<div class = "container">
    <form action="/home" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <table class = "table has-text-white-ter has-background-black-ter">
        <thead>
            <tr>
                <th class="has-text-white-ter">Fecha</th>
                <th class="has-text-white-ter">¿Qué hiciste?</th>
                <th class="has-text-white-ter">¿Cómo te sentiste?</th>
                <th class="has-text-white-ter">Comentarios adicionales</th>
            </tr>
        </thead>
        <tbody>

        <% if (registros.length > 0) { %>
                <% for (let registro of registros) { %>
                    <tr> 
                    <th class="has-text-white-ter"> <%= registro.fecha %></th>
                    <td> <%= registro.descripcion_sesion %></td>
                    <td> <%= registro.nivel_satisf %></td>
                    <td> <%= registro.comentarios %></td>

                    </tr>
                <% } %>

        <% } %>
        <!--Fuente: https://datatables.net/examples/api/form.html-->

            <tr>
                    <th class="has-text-white-ter"> </th>
                    <td><input type = "text" size = "50" class="input is-info is-small is-rounded" name = "descr_sesion" id = "descr_sesion"></td>
                    <td>
                        <div class="select is-info is-small">
                        <select value = "Escribe" name = "nivel_satisf" id = "nivel_satisf">
                            <option>
                                1
                            </option>
                            <option>
                                2
                            </option>
                            <option>
                                3
                            </option>
                            <option>
                                4
                            </option>
                            <option>
                                5
                            </option>
                        </select>
                        </div>
                    </td>
                    <td><input type = "text" size = "50" class="input is-info is-small is-rounded" name = "comentarios" id = "comentarios"></td>
            </tr>
        </tbody>
    </table>
    <input class="button is-rounded is-info" type="submit" value="Guardar">
    </form>
</div>



<%- include('../includes/foot.ejs'); %>